.title-bar {
	background: #e35557;
	color: #ffffff;
	margin: 0;
	display: grid;
	grid-template-columns: 1fr 100px;
	align-items: center;
}

.title-bar button {
	display: none;
}

.game-title-bar {
	background: #e35557;
	color: #ffffff;
	font-size: 1em;
	margin: 0;
	display: flex;
	justify-content: space-between;
	padding: 4px 8px;
	align-items: center;
}

.game-title-bar button {
	padding: 0;
	color: gold;
}
